$primary-color: #0147A7;
$accent-color: #FFEF00;
$link-color: #03A9F4;
$text-color: #FFF;

body {
    background: $primary-color;
    color: $text-color;
}
a {
    color: $link-color;
    &:hover{
    	color: lighten($link-color, 20%); // doesn't like decimals
    }
}
